.artist-container {
  min-height: 100vh;
  padding-top: 6vw;
  display: flex;
  justify-content: center;
  background-color: #EDECE8;
  color: #120826;
  font-size: 1vw;
}

.artist-photo img {
  width: 34vw;
}

.artist-expl {
  padding-left: 6vw;
  width: 34vw;
  display: flex;
  align-items: center;
}

p {
  font-family: 'Lato', sans-serif;
}

