.artist-container {
  min-height: 100vh;
  padding: 15vh;
  display: flex;
  justify-content: center;
  background-color: #EDECE8;
  color: #120826;
  font-size: 1vw;
}

.photo img {
  width: 34vw;
  height: 100%;
}

p {
  font-family: 'Nunito', sans-serif;
}

