.artist-page-container {
  min-height: 100vh;
  background-color: #FCFCFC;
  padding-top: 10vw;
}

.artist-container {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #222222;
  font-size: 1vw;
}

.artist-photo {
  display: flex;
  align-items: center;
  img {
    margin-bottom: 2vw;
    width: auto;
    height: 74vh;
  }
}

.artist-expl {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 74vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background: tan;
  font-family: 'Roboto', sans-serif;
}


.photo {
  padding: 1%;
}

@media (min-width: 575px) and (max-width: 1024px) {
  .artist-photo {
    align-items: flex-start;
    img {
      width: 40vw;
    }
  }
  .artist-page-container {
    padding-top: 20vw;
    .artist-expl {
      width: 40vw;
      p {
        font-size: 1.7vw;
      }
    }
  }
}
@media (min-width: 100px) and (max-width: 575px) {
  .artist-container {
    flex-direction: column-reverse;
    padding-top: 25vw;
    width: 100vw;
  }
  .artist-expl {
    padding: 2vw;
    font-size: 4vw;
    width: 90vw;
  }
  .artist-photo {
    justify-content: center;
    img {
      width: 92vw;
    }
  }
  .navbar-lewagon1 {
    background: #EDECE8;
  }
}

