@media (min-width: 100px) and (max-width: 575px) {
  .container_works {
    grid-template-columns: 1fr;
    display: grid;
    grid-gap: 1vw;
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: center;
  }
    .image_work > a > img {
    width: auto;
     max-width: 300px;
    height: auto;
    max-height: 300px;
    align-items: center;
    align-content: center;
    object-fit: cover;
  }
}

@media (min-width: 576px) {
  .container_works {
    grid-template-columns: 1fr;
    display: grid;
    grid-gap: 1vw;
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: space-around;
  }
    .image_work > a > img {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    align-items: center;
    align-content: center;
    object-fit: cover;
  }
}

@media (min-width: 767px) {
  .container_works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    padding-top: 7vh;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: space-around;

  }
    .image_work > a > img {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    align-items: center;
    align-content: center;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .container_works {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 1vw;
    padding-top: 11vh;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: space-around;
  }
    .image_work > a > img {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    align-items: center;
    align-content: center;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .container_works {
     display: grid;
    // grid-template-columns: 285px 285px 285px 285px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    padding-top: 11vh;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: space-around;
  }

  .image_work > a > img {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    align-items: center;
    align-content: center;
    object-fit: cover;
  }
}

@media (min-width: 3000px) {
  .container_works {
     display: grid;
    // grid-template-columns: 285px 285px 285px 285px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    padding-top: 11vh;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: space-around;
  }

  .image_work > a > img {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 600px;
    align-items: center;
    align-content: center;
    object-fit: cover;
  }
}
