.container_works {
   display: grid;
  // grid-template-columns: 285px 285px 285px 285px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  padding-top: 1vh;
  padding-left: 6vw;
  justify-content: space-around;
}

.image_work > img {
  display: flex;
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 300px;
  align-items: center;
  align-content: center;
}
