<%= render 'shared/navbar_works' %>

<div class="container_works ">
  <% @works.each do |work| %>
    <div class="image_work ">
      <a class="gallery" href="<%= work.photo %>">
        <img class="dessin" src="<%= work.photo %> " alt="dessin">
      </a>
    </div>
  <% end %>
</div>

<!--
<div class="masonry">
  <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  <div class="item">...</div>
</div>
 -->
