 <%= render 'shared/navbar_works' %>
<div class="container_works ">
  <% @works.each do |work| %>
      <div class="image_work">
        <a href="<%= work.photo %>" data-lightbox="roadtrip">
          <img class="dessin" src="<%= work.photo %>" alt="dessin">
        </a>
      </div>
    <%# end %>
  <% end %>
</div>
<script>
    lightbox.option({
      'resizeDuration': 200,
      'disableScrolling': true,
      'showImageNumberLabel': false,
      'wrapAround': true
    })
</script>
