<%= render 'shared/navbar' %>
<div class="description">
  <h1>Cécile Pirzio-Biroli</h1>
  <p>De nationalité belge, Cécile Pirzio Biroli a étudié le dessin à la Corcoran School of Art, Washington DC, et fréquenté de nombreux studios et ateliers aux Etats Unis et en Belgique.
  <br><br>
  Elle a abordé toutes les formes d'expression artistique, dessin, peinture, collage, papier mâché, sérigraphie, sculture, gravure et écriture.
  <br><br>
  Les signes et les lignes se retrouvent dans tout son travail depuis les grandes silhouettes humaines qu'elle promène sur les murs jusqu'à la fantaisie d'une écriture libre et emportée par la création.
  <br><br>
  Elle tire son inspiration des peintures murales de Banksys, des gribouillis de Twombly, des logogrammes de Christian Dotrémont, de la calligraphie arabe et de plusieurs artistes du Moyen Orient et d'Afrique du Nord parmi lesquels Mahmoud Hamadani et Lassaâd Metoui.
  <br><br>
  Cécile Pirzio Biroli a développé son propre language graphique qu'elle exprime avec une grande liberté gestuelle.
  <br><br>
  Ses visages absents mais très présents, ses corps tout en courbes saisis l'espace d'un geste, sa chorégraphie de signes, de formes et de lignes qui dansent sur le papier, son choix de deux ou trois tonalités constituent l'essentiel d'un travail très personnel et très lisible.
  <br><br>
  Elle participe de temps en temps à des expositions collectives.
  </p>
</div>
