<%= render 'shared/navbar' %>
<div class="artist-page-container">
  <div class="artist-container">
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568041327/FRA_2196_tdj595.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568041597/FRA_2125_w7yhqe.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568041555/FRA_2191_ooh5x1.jpg"%>
    </div>
  </div>
</div>
