.navbar {
  font-family: 'Libre Franklin', sans-serif;
  // font-size: 1vw;
}

.navbar-lewagon1 {
  justify-content: space-between;
  // flex-direction: column;
  transition: 0.5s background-color ease;
  background: transparent;
}

.navbar-lewagon2 {
  justify-content: space-between;
  // flex-direction: column;
  transition: 0.3s background-color ease;
  // background: #EDECE8;
  background: rgb(238, 238, 238);
}

.sticky {
  position: sticky;
  top: 0;
}

.navbar-coloured {
  background-color: $light;
  .navbar-nav a {
    color: #222222 !important;
  }
}

.navbar-lewagon-white {
  background-color: $light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link::after {
  display: none;
}

.nav-link {
  padding: 0 1vw !important;
  cursor: pointer;
  opacity: 0.5;
}

.nav-link:hover {
  opacity: 2.5;
  transition: 1s;
  text-shadow: 1px 1px 1px white;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
  background-color: transparent;
  padding: 4px;
  margin-bottom: 5%;
}
.navbar-lewagon .navbar-brand img:hover {
  opacity: 0.7;
  transition: 0.3s;
}


.navbar-nav a {
  position: relative;
  text-decoration: none;
  color: #4C4B49!important;
// &::after {
//     --scale: 0;

//     content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 100%;
//     height: 4px !important;
//     background: #4C4B49 !important;
//     transform: scaleX(var(--scale));
//     transform-origin: var(--x) 50%;
//     transition: transform .3s cubic-bezier(.535, .05, .355, 1);
//   }

//   &:hover {
//     color: lightgray;
//     cursor: pointer;
//   }

//   &:hover::after {
//     --scale: 1 ;
//   }
}

.dropdown-menu {
  // background-color: #EDECE8;
  background-color: rgb(238, 238, 238);
  color:#ffffff;
  border: none !important;
  // font-size: 1vw;
  min-width: 0vw !important;
}

// @media (min-width: 100px) and (max-width: 575px) {
//   .navbar {
//     flex-direction: row;
//   }
// }
